@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-slide-container {
    width: 100%; /* Garante que o banner ocupe toda a largura */
    height: 50vh; /* Ajusta a altura conforme necessário, 50% da altura da tela */
    position: relative;
}

.banner img {
    width: 100%; /* Imagem vai ocupar toda a largura */
    height: 100%; /* Imagem vai ocupar toda a altura definida */
    object-fit: cover; /* Garante que a imagem cubra a área sem distorção */
}

/* Esconder a barra de rolagem */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Estilos para garantir que apenas um banner esteja visível */
.banner {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Transição suave entre os banners */
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Exibir apenas o banner ativo */
.banner.active {
    opacity: 1;
}

/* Ajustando o layout do container para não mostrar todos os banners ao mesmo tempo */
.banner-slide-container {
    position: relative;
    width: 100%;
    height: 100%;
}
